.container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 16px;
}
.Img_Bg1{
    background-image: url(../../assets/img/img_home_main_banner.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.banner_content{
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: white;
    justify-content:center;
    align-items: center;
}
.btn_order{
    padding: 19px 40px;
    border: none;
    margin: 0 5px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    background-color: #F37004;
    color: white;

}
.btn_oderlast{
       padding: 19px 40px;
    border: none;
      border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
     color: black;
     background-color: white;
}
.btn_order:hover ,
.btn_oderlast:hover{
    background-color: black;
    color: white;
}