.container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 16px;
}
.h2c {
    border-bottom: 1px dashed #e7e7e7;
    padding: 12px 0;
    font-weight: 600;
    font-size: 12px;
}
a:hover{
    color:#F37004 ;
}

a {
    color: black;
}
.btn_order{
        padding: 5px 16px;
    border: 1px solid #F37004;
    background-color: white;
    color: #F37004;

}
.btn_order:hover{
    
    border: 1px solid #F37004;
    background-color: #F37004;
    color: white;
    
}


